<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentpal">
    <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
    -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_stat_ic_notification" />
    <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more.
    -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/default_notification_channel_id" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPal">
        <activity
            android:name=".activities.PostsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.friends.FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.friends.FindFriends"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.friends.ViewFriendProfile"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.events.MapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:name=".activities.events.EditEventActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.events.AssignFriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.registration.PasswordResetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.events.EventInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.events.CreateBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.messages.ChatLogActivity"
            android:exported="false"
            android:parentActivityName=".activities.messages.LatestMessagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.messages.LatestMessagesActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.messages.NewMessageActivity"
            android:exported="false"
            android:parentActivityName=".activities.messages.LatestMessagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".activities.MyProfileActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.registration.SignInActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.registration.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.registration.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.registration.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StudentPal" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>